* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: #FBCC04;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo-container h1 {
    font-size: 40px;
    margin: 0;
}

.day {
    color: #FCBC04;
}
.fit{
    color:black;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin: 0 30px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FCBC04;
}


img.logo {
     height: 32px;
     margin-top: -6px;
     width: auto;
     vertical-align: middle;  
}
.main {
    padding-top: 120px; 
    text-align:center;
}
.unidade{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;  
    margin: 20px 20px 0 90px;
    white-space: nowrap; 
}

p.p{
    color:white;
    font-size:30px;
    margin: 30px 20px 20px 0;
    width:589px;
    height:50px;
}

h2.texto {
    color: #FBCC04;
    font-size: 40px;
    margin: 50px 0 60px 0;
    text-align: center;
    
}

button.botao1{
    color:white;
    font-size:20px;
    background-color: #FBCC04;
    border-radius: 10px;
    border:2px;
    width:300px;
    height:45px;
    cursor:pointer;
    margin-left: 90px;
    margin-right: 10px;

    
}
button.botao2{
    color:white;
    font-size: 20px;
    background-color: #FBCC04;
    border-radius: 10px;
    border:2px;
    width:300px;
    height:45px;
    margin-left:91px;
    margin-right: 10px;
    
}
.titulo{
    display: flex;
    justify-content: right;
    font-size: 30px;
    margin:50px 300px 60px 0;
    font-weight: 50;
}
.paragrafo{
    color: white;
    align-items: center;

}
.destaque{
  font-weight: bold;
}

.destaquetitulo{
    color: #FBCC04;
}

footer {
    text-align: center;
    padding: 20px;
}
