* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: #FBCC04;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo-container h1 {
    font-size: 40px;
    margin: 0;
}

.day {
    color: #FCBC04;
}
.fit{
    color:black;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin: 0 30px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FCBC04;
}


img.logo {
     height: 32px;
     margin-top: -6px;
     width: auto;
     vertical-align: middle;  
}
.main {
    padding-top: 120px; 
    text-align:center;
}
.unidade{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;  
    margin: 20px 20px 0 90px;
    white-space: nowrap; 
}

p.p{
    color:white;
    font-size:30px;
    margin: 30px 40px 20px 0;
    width:589px;
    height:50px;
    
}

h2.texto {
    color: #FBCC04;
    font-size: 40px;
    margin: 50px 0 60px 0;
    text-align: center;
    
}

button.botao1{
    color:white;
    font-size:20px;
    background-color: #FBCC04;
    border-radius: 10px;
    border:2px;
    width:300px;
    height:45px;
    cursor:pointer;
    margin-left: 90px;
    margin-right: 10px;

    
}
button.botao2{
    color:white;
    font-size: 20px;
    background-color: #FBCC04;
    border-radius: 10px;
    border:2px;
    width:300px;
    height:45px;
    margin-left:91px;
    margin-right: 10px;
    
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin:60px 100px 70px 0;
    font-weight: 30;
}
.paragrafo{
    color: white;
    align-items: center;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    gap:60px;
    margin:60px auto;
    max-width:1100px;
    padding:0 20px;
}
.Fotomain{
    width:318px;
    height: 547px;
    margin-top: 150px;
    margin-left: -80px;
}
.paragrafo1{
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-right:-90px;
    max-width: 911px;
}
.paragrafo1 p{
    margin-bottom: 20px;
    font-size:23px;
    line-height: 1.6;
}
.destaque{
  font-weight: bold;
}

.destaquetitulo{
    color: #FBCC04;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 100px;
}

.rodape {
    display: flex;
    justify-content: center;
    gap: 250px; /* Espaçamento entre os dois blocos */
    margin-top: 50px;
}

.Informacoes, .Informacoes2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulocontatos {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 400;
}

.contato-item {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre a imagem e o texto */
    margin-bottom: 30px;
}

.logotelefone, .logozap {
    width: 22px;
    height: 22px;
}

