.hidden {
    display: none !important;
}

.card-planos {
 height: 550px;
 width: 380px;
 border: solid #FCBC04 4px;
 border-radius: 10px;
 text-align: center;
 padding-left: 5px;
 padding-right: 5px;
 margin-top: 40px;
}

.titulo-plano {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.texto-musculacao {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.preco {
    font-size: 40px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

span {
    color: #3C3A3A;
    font-size: 25px;
    font-weight: bold;
}

.descricao {
    font-size: 21px;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.texto-exercicio {
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagem-acesso {
    height: 30px;
}

.acesso {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todos-planos {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}